# Created by .ignore support plugin (hsz.mobi)
/AndPotap/DBs/
/AndPotap/Tableau/

*.DS_Store
.Rproj.user
/.Rhistory
/EDAV.Rproj
/AndPotap/Utils/k_means.py
/AndPotap/Utils/stochastic_optimization.py
/AndPotap/Utils/distance.py
/AndPotap/Write-up